#pragma code_page(65001)
#include <winver.h>

IDI_NOCTURNE ICON DISCARDABLE "nocturne.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION @PROJECT_VERSION_MAJOR@,@PROJECT_VERSION_MINOR@,@PROJECT_VERSION_PATCH@,0
 PRODUCTVERSION @PROJECT_VERSION_MAJOR@,@PROJECT_VERSION_MINOR@,@PROJECT_VERSION_PATCH@,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Nocturne Project\0"
            VALUE "FileDescription", "夜航 · Nocturne\0"
            VALUE "FileVersion", "@PROJECT_VERSION@\0"
            VALUE "InternalName", "Nocturne\0"
            VALUE "OriginalFilename", "Nocturne.exe\0"
            VALUE "ProductName", "夜航 · Nocturne\0"
            VALUE "ProductVersion", "@PROJECT_VERSION@\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
